{% extends 'layouts/layout.html' %}
{% load staticfiles %}
{% block title %}<title>Breeam</title>{% endblock title %}
{% block content %}

<!-- Main content, including slider, timeline and page buttons. -->
<div class="mainContent">

    <!-- Header with decor items -->
    <header>
        <div>
            <img src="{% static "images/breeamImgs_coffeeCup.svg" %}">
        </div>
        <div>
            <img src="{% static "images/breeamImgs_smartPhone.svg" %}">
        </div>
        <div>
            <img src="{% static "images/breeamImgs_notePinkPencil.svg" %}">
        </div>
    </header>

    <div id="magnifier">
		<div class="magnifier-icon">
        	<span class="magnifier-handle"></span>
        	<span class="magnifier-handle-x"></span>
		</div>
    </div>

	<a class="logo" href="/">Asplan Viak</a>
    <!-- Link for admin -->
    <a class="loginBtn" href="{% url 'admin:login' %}">Sign in</a>
    
    <div class="mainWrapper" id="wrapper">
    
        <div id="warning-message">
        	<h2>This website does not support portrait mode</h2>
            <img src=" {% static 'images/cellphoneTilt.png' %}" />
        </div>

        <!-- Slide title -->
        {% block slide-title %}
            <div class="{{ slide.align_title_in_image|yesno:"pageTitleFloat,pageTitleStandard" }} {{ slide.center|yesno:"pageTitleCenter," }}" id="page_title">
                <h1 id="headline">{{ slide.title }}</h1>
            </div>
        {% endblock slide-title %}

        <!-- Slide content -->
        <div class="content-container">
            <!-- Link for the next slide -->
            <a href="#" class="arrow-left">
                  <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <!-- Link for the next slide -->
            <a href="#" class="arrow-right">
                  <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
            <div class="slider-content" id="slider">
                <!-- Load content with jQuery -->
            </div>
        </div>

        <!-- Loader -->
        {% block loader %}
            <div class="loader" id="loader">
              <svg class="circular">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
              </svg>
            </div>
        {% endblock loader %}

        <!-- Timeline -->
        {% block timeline %}
            <div class="timelineContainer">
                {% include 'includes/timeline.html' %}
            </div> <!-- timelineContainer -->
        {% endblock timeline %}

        <!-- Slide buttons -->
        <div class="navButtons" id="buttons">
            <div class="btn-group">
	            <ul class="nav-pills">
    	            {% for button in slide.slidebutton_set.all %}
        	            <li><a href="{{ button.url }}" class="btn btn-primary btn-lg" role="button">{{ button.name }}</a></li>
                    {% endfor %}
	            </ul>
            </div>
        </div>
    </div> <!-- mainWrapper -->

    <div id="macro_wrapper">
    </div> <!-- macroWrapper -->
    <div class="row text-center" id="macro_nav">
        <ul class="pagination">
            <li>
                <a href="javascript:void(0)" aria-label="Previous" id="macro_prev">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for macro_page in macro_pages %}
                <li>
                    <a href="javascript:void(0)" class="macro_nav_a">{{ forloop.counter }}</a>
                </li>
            {% endfor %}
            <li>
                <a href="javascript:void(0)" aria-label="Next" id="macro_next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- Footer with decor items -->
    <footer>
        <div>
            <img src="{% static "images/breeamImgs_notesBrownPencil.svg" %}">
        </div>
        <div>
            <img src="{% static "images/breeamImgs_notesSimple.svg" %}">
        </div>
    </footer>    

</div> <!-- mainContent -->


{% endblock content %}