{% extends 'layouts/layout.html' %}
{% load staticfiles %}
{% block title %}Breeam{% endblock title %}
{% block content %}

<!-- Main content, including slider, timeline and page buttons. -->
<div class="mainContent">

    <!-- Header with decor items -->
    <header>
        <div>
            <img src="{% static "images/breeamImgs_coffeeCup.svg" %}">
        </div>
        <div>
            <img src="{% static "images/breeamImgs_smartPhone.svg" %}">
        </div>
        <div>
            <img src="{% static "images/breeamImgs_notePinkPencil.svg" %}">
        </div>
    </header>

    <div id="magnifier">
		<div class="magnifier-icon">
        	<span class="magnifier-handle"></span>
        	<span class="magnifier-handle-x"></span>
		</div>
    </div>

	<a class="logo" href="/">Asplan Viak</a>
    <!-- Link for admin -->
    <a class="loginBtn" href="{% url 'admin:login' %}">Sign in</a>
    
	<!-- Link for the next slide -->
	<a href="#" class="arrow-left">
          <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <!-- Link for the next slide -->
	<a href="#" class="arrow-right">
          <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
	<div class="sliderContainer" id="content">
        <div class="{{ first_slide.align_title_in_image|yesno:"pageTitleFloat,pageTitleStandard" }}" id="page_title">
            <h1 id="headline">{{ first_slide.title }}</h1>
        </div>
        <div class="imgContainer">
            <!-- Current Slide Image -->
            <img src="{{ first_slide.image.url }}" alt="" class="img-responsive center-block" id="image"/>
        </div>
	</div>
</div> <!-- sliderContainer + content -->

	<!-- Loader -->
    <div class="loader" id="loader">
      <svg class="circular">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
      </svg>
    </div>
            
	<!-- Timeline -->
    <div class="timelineContainer">
		{% include 'includes/timeline.html' %}
	</div> <!-- timelineContainer -->

	<!-- Slide buttons -->
	<div class="navButtons" id="buttons"></div>
    
    <!-- Footer with decor items -->
    <footer>
        <div>
            <img src="{% static "images/breeamImgs_notesBrownPencil.svg" %}">
        </div>
        <div>
            <img src="{% static "images/breeamImgs_notesSimple.svg" %}">
        </div>
    </footer>    

</div> <!-- mainContent -->


{% endblock content %}