@charset "utf-8";
/* CSS Document */

html, body{
	height: 100%;
}

body{
	background-image: url(../images/breeamBG2.svg);
	background-repeat: repeat;
	opacity: 0;
}

@font-face{
	font-family: GeosansLight;
	src: url(../fonts/GeosansLight.ttf);
}

h1{
	font-family: GeosansLight !important;
	font-size: 8em !important;
}

.mainHeader{
	width: 100%;
}

.mainHeader div{
	float: left;
	width: 33.33333333333333%;
	height: 100%;
}

.mainHeader div:nth-child(2) img{
	display: block;
	margin: auto;
}

.mainHeader div img{
	width: inherit;
	max-wdith: 100%;
	max-height: 100%;
	margin-top: -10%;
}

.mainHeader div:nth-child(3) img{
	float: right !important;
}

.mainHeader div img{
	height: inherit;
	max-wdith: 100%;
	max-height: 100%;
}

.centerContent{
	margin-top: 250px;
}

.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent; 
	border-right:30px solid rgb(80, 80, 80);
	position: fixed;
	left: 1%;
	top: 50%;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-left: 30px solid rgb(80, 80, 80);
	position: fixed;
	right: 1%;
	top: 50%;
}

.centerContent div div a img{
	width: 100%;
}

.centerContent div div a{
	color: rgb(80, 80, 80);
}

.pageTitle{
	position: absolute;
	top: -70px;
}

.centerContent{
	display: flex;
  	justify-content: center;
  	align-items: center;	
	display: block;
}

.timelineRow{
	min-height: 50px;
	margin-bottom: 50px;
}

.navButtons div div ul li a{
	border-radius: 0px;
	text-align: center !important;
	border: none;
	color: white;
	padding: 20px 60px 20px 60px !important;
	margin: 10px;
}
	
.navButtons div div ul li a:nth-child(1){
	background-color: rgb(88, 171, 239);
	box-shadow: 0px 5px 0px rgb(50, 147, 222);
}

.navButtons div div ul li a:nth-child(1):hover{
	background-color: rgb(100, 180, 250);
}

/*
.navButtons div div ul li a:nth-child(2){
	background-color: rgb(88, 239, 127);
	box-shadow: 0px 5px 0px rgb(50, 222, 115);
}

*/

@media all and (max-width: 1280px) {
	h1{
		font-size: 6em !important;		
	}
	
    .navButtons div div ul li a{
		padding: 15px 40px 15px 40px !important;
	}
}

@media all and (max-width: 1024px) {
    .navButtons div div ul li a{
		padding: 10px 30px 10px 30px !important;
	}
}

