@charset "utf-8";
/* CSS Document */

body{
	background-image: url(../media/images/concrete_seamless.png);
	background-repeat: repeat;
	overflow: hidden;
}

.topDecor div img{
	width: 40%;
	margin: -40px auto 0 auto;
}

.figureTxt div h2{
	margin: auto;
	width: 80%;
	padding: 10px;
	text-align: center;
	color: rgb(80, 80, 80);
	background-color: rgb(255, 255, 255);
	box-shadow: 10px 10px 0px rgb(217, 211, 188);
	-webkit-box-shadow: 10px 10px 0px rgb(217, 211, 188);
	-moz-box-shadow: 10px 10px 0px rgb(217, 211, 188);
	-o-box-shadow: 10px 10px 0px rgb(217, 211, 188);
	-ms-box-shadow: 10px 10px 0px rgb(217, 211, 188);
}

.figures{
	margin-top: 30px;
}

.figures div img{
	margin: auto;
	min-width: 70%;
}

.figures .arrow-left {
	width: 0; 
	height: 0; 
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent; 
	border-right:30px solid rgb(80, 80, 80);
	display: block;
	margin-top: 150px; 
}

.figures .arrow-right {
	width: 0; 
	height: 0; 
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-left: 30px solid rgb(80, 80, 80);
	display: block;
	margin-top: 150px;
}

.mainFooter{
	position: fixed;
	bottom: 0;
}

.mainFooter div img{
	width: 40%;
	margin: 0 auto 0 auto;
	position: relative;
}
