<div class="slider-content" id="slider">
    <!-- Current Slide Image -->
    <div class="row container-fluid text-center trippleImgTxt">
        <div class="col-xs-4">
            <a href="#" id="header-1">{{ first_slide.title }}</a>
        </div>
        <div class="col-xs-4">
            <a href="#" id="header-2">{{ first_slide.title }}</a>
        </div>
        <div class="col-xs-4">
            <a href="#" id="header-3">{{ first_slide.title }}</a>
        </div>
    </div>
    <div class="row container-fluid text-center trippleImgs">
        <div class="col-xs-4">
            <a href="#">
                <img class="img-responsive" src="{{ first_slide.image.url }}" alt="" id="image-1"/>
            </a>
        </div>
        <div class="col-xs-4">
            <a href="#">
                <img class="img-responsive" src="{{ first_slide.image.url }}" alt="" id="image-2"/>
            </a>
        </div>
        <div class="col-xs-4">
            <a href="#">
                <img class="img-responsive" src="{{ first_slide.image.url }}" alt="" id="image-3"/>
            </a>
        </div>
    </div>
</div>