.macroWrapper {
    width: 80%;
    height: 70vh;
    margin: auto;
    position: relative;
    top: 15vh;
}

.row{
    margin: auto !important;
}

/* -- Macro page link settings -- */

.macroLinks{
    position: relative;
    max-width: 100%;
    height: 15vh;
    transition: 0.3s;
    margin-bottom: 20px;
}

.macroLinks a{
    text-align: center;
}

.macroLinks img{
    max-width: 100%;
    height: 15vh;
    opacity: 1;
    margin: auto;
}

.macroTripple{
    width: 80%;
}

.macroQuad{
    width: 80%;
}

.macroQuad img{
    height: 7vh;
}

.macroLinks:hover{
    transform: scale(1.05);
}


.macroTooltip{
	position: absolute;
	top: 45%;
	left: 0;
	right: 0;
	min-width: 40%;
    max-width: 60%;
    width: auto;
	margin: 0 auto;
	z-index: 1;
	text-decoration: none !important;
	display: none;
}

.macroTooltip p{
	background-color: white;
	border-radius: 5px;
	color: rgb(100, 100, 100);
}

/* -- Macro timeline settings --*/

#macro_menu{
	display: none;
	position: absolute;
	top: 90%;
	bottom: 10%;
	left: 0;
	right: 0;
}