.macroWrapper {
    width: 80%;
    height: 70vh;
    margin: auto;
    position: relative;
    top: 15vh;
}

#macro_nav{
	display: none;
	position: absolute;
	top: 90%;
	bottom: 10%;
	left: 0;
	right: 0;
}

.macroWrapper div div{
	padding: 2vh 0 2vh 0;
}

.macroWrapper img{
	max-width: 100%;
	height: 20vh;
	opacity: 1;
	display: block;
	margin: 0 auto;
}
.macroWrapper div div{
	transition: 0.3s;
}

.macroWrapper div div:hover{
    transform: scale(1.05);
}

.macroWrapper a img{
	opacity: 1;
}

.macroTooltip a[data-tooltip] {
  position: relative;
}

.macroTooltip a[data-tooltip]::before,
.macroTooltip a[data-tooltip]::after {
  position: absolute;
  display: none;
  opacity: 0.85;
}

.macroTooltip a[data-tooltip]::before {
  /*
   * using data-tooltip instead of title so we 
   * don't have the real tooltip overlapping
   */
  
  content: attr(data-tooltip);
  background: white;
  color: rgb(20, 20, 20);
  font-size: 13px;
  padding: 5px;
  border-radius: 5px;
  /* we don't want the text to wrap */
  
  white-space: nowrap;
  text-decoration: none;
}

.macroTooltip a[data-tooltip]:hover::before,
.macroTooltip a[data-tooltip]:hover::after {
  display: block;
}

/* bottom tooltip */

.macroTooltip a[data-tooltip][data-placement="bottom"]::before {
  top: 50%;
  left: 25%;
  right: 25%;
  z-index: 2;
}

.macroTooltip a[data-tooltip][data-placement="bottom"]::after {
  border-bottom-color: #000;
  border-top: none;
  top: 50%;
  z-index: 2;
}