	html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@font-face{
	font-family: GeosansLight;
	src: url(../fonts/GeosansLight.ttf);
}

body{
	background-image: url(../images/breeamBG2.svg);
	background-repeat: repeat;
	overflow-x: hidden;

}

h1{
	font-family: GeosansLight !important;
	color: rgb(100, 100, 100) !important;
}

.mainContainer, .mainContent{
	width: 100%;
	height: 100vh;
}

.mainContent{
	opacity: 1;
}

header{
	width: 100%;
	height: 30vh;
	z-index: -1;
	overflow: hidden;
	position: fixed;
	top: -10vh;
}

header div {
    width: 33.33333333333333%;
	height: 100%;
    text-align: left;
	float: left;
}

header div:nth-child(2) {
	text-align: center;
}

header div:nth-child(3) {
	text-align: right;
}

header div img {
    position: relative;
	width: 50%;
	height: inherit;
}

header div:nth-child(1) img {
	left: -10vh;
}

header div:nth-child(3) img {
	left: 10vh;
}

.logo{
	font-family: GeosansLight;
	font-weight: bold;
	font-size: 2em;
	color: rgb(100, 100, 100);
	opacity: 0.6;
	position: absolute;
	top: 2%;
	left: 20%;
	z-index: 1;
}

.logo:hover{
	text-decoration: none;
	color: rgb(20, 20, 20);
	opacity: 1;
}

.loginBtn{
	font-family: GeosansLight;
	font-weight: bold;
	font-size: 1em;
	color: rgb(70, 70, 70);
	opacity: 0.6;
	position: absolute;
	top: 2%;
	right: 20%;
	z-index: 1;
	padding: 5px 20px;
	border-radius: 25px;
	border: 2px solid rgb(100, 100, 100);
	background-color: rgba(255, 255, 255, 0);
}

.loginBtn:hover{
	text-decoration: none;
	color: rgb(20, 20, 20);
	border: 2px solid rgb(20, 20, 20);
	opacity: 1;
}

.mainWrapper{
	position: relative;
	height: 85vh;
	top: 13vh;
	z-index: 1;
}

#warning-message{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 5;
	background-color: rgb(241, 196, 15);
	background-image: url(../images/breeamBG2.svg);
	background-repeat: repeat; 
	display: none;
}

#warning-message h2{
	position: fixed;
	top: 40%;
	bottom: 40%;
	left: 10%;
	right: 10%;
	text-align: center;
	font-size: 5em;
	font-family: GeosansLight;
	color: rgb(100, 100, 100);	
}

#page_title{
	width: 80%;
	height: 10vh;
	margin: 0 auto 0 auto;
}

#page_title h1{
	font-size: 4vw !important;
	margin: 0 !important;
}

.pageTitleFloat h1{
	z-index: 1;
	position: absolute;
	top: 25%;
}

.pageTitleCenter h1{
	text-align: center;
	left: 0;
	right: 0;
}

.content-container {
	position: relative;
	width: 100%;
	max-width: 100%;
	height: 60vh;
}

.slider-content {
	width: auto;
	height: 60vh;
}

.slider-content img{
	min-width: 30%;
	max-width: 80%;
	height: inherit !important;
	opacity: 1;
	display: block;
	margin: 0 auto;
}

/* --- tripple img template --- */

.trippleImgTxt div a{
	font-size: 1.5vw;
	color: rgb(70, 70, 70) !important;
	text-decoration: none !important;
	margin: 0 !important;
	padding: 5px 15px !important;
	background-color: rgb(255, 255, 255);
	box-shadow: 10px 10px 0px rgb(217, 211, 188);
	-webkit-box-shadow: 10px 10px 0px rgb(217, 211, 188);
	-moz-box-shadow: 10px 10px 0px rgb(217, 211, 188);
	-o-box-shadow: 10px 10px 0px rgb(217, 211, 188);
	-ms-box-shadow: 10px 10px 0px rgb(217, 211, 188);
}

.trippleImgTxt div{
	transition: .3s;
}

.trippleImgTxt div:hover{
	transform: scale(1.1);
}

.trippleImgs a img{
	max-height: 50vh;
	margin-top: 4vh;
}

/* --- tripple img template end -- */

/* --- quad img template --- */

.quadImgTxt div a{
	font-size: 4em;
	font-family: GeosansLight;
	color: rgb(70, 70, 70) !important;
	text-decoration: none !important;
	margin: 0 !important;
}

.quadRow1  div div:nth-child(1) a{
	float: right;
	width: 80%;
}

.quadRow1  div div:nth-child(2) a{
	float: left;
	width: 80%;
}

.quadRow2  div div:nth-child(1) a{
	float: right;
	width: 80%;
}

.quadRow2  div div:nth-child(2) a{
	float: left;
	width: 80%;
}

.quadImgs a img{
	max-height: 25vh;
}

/* --- quad img template end -- */

.arrow-left {
	font-size: 4em;
	color: rgb(70, 70, 70) !important;
	z-index: 1;
	opacity: 0.5;
	transition: .3s;
	position: fixed;
	top: 50%;
	left: 1%;
	display: none;
}

.arrow-right{
	font-size: 4em;
	color: rgb(70, 70, 70) !important;
	z-index: 1;
	opacity: 0.5;
	transition: .3s;
	position: fixed;
	top: 50%;
	right: 1%;
	display: none;
}

.arrow-left:hover, .arrow-right:hover{
	color: rgb(150, 150, 150);
	transform: scale(1.3);
	opacity: 1;
}

.timelineContainer{
	width: auto;
	height: 5vh;
	max-width: 100%;
	text-align: center;
}

.pagination{
	height: 5vh;
	display: inline-block;
}

.navButtons{
	width: 100%;
	height: 10vh;
}

.btn-group{
	width: 100%;
	height: 10vh;
	text-align: center;
}

.navButtons .btn-group ul{
	display: inline-block;
}

.navButtons div ul{
	list-style: none;
}

.navButtons div ul li a{
	border-radius: 0px;
	text-align: center !important;
	border: none;
	color: white;
	padding: 2vh 6vh 2vh 6vh !important;
	margin: 10px;
	transition: .3s;
}

.navButtons div ul li a:hover{
	transform: scale(1.1,1.1);
}

.navButtons div ul li:nth-child(1) a{
	background-color: #55aced;
	box-shadow: 0px 5px 0px #1a75b8;
}

.navButtons div ul li:nth-child(1) a:hover{
	background-color: #5cb9ff;
}

.navButtons div ul li:nth-child(2) a{
	background-color: #48e58a;
	box-shadow: 0px 5px 0px #16b459;
}

.navButtons div ul li:nth-child(2) a:hover{
	background-color: #41f28c;
}

.navButtons div ul li:nth-child(3) a{
	background-color: #e64d3c;
	box-shadow: 0px 5px 0px #ce3524;
}

.navButtons div ul li:nth-child(3) a:hover{
	background-color: #ff5845;
}

.navButtons div ul li:nth-child(4) a{
	background-color: #9b59b5;
	box-shadow: 0px 5px 0px #6b2388;
}

.navButtons div ul li:nth-child(4) a:hover{
	background-color: #c565eb;
}

.navButtons div ul li:nth-child(5) a{
	background-color: #e57d22;
	box-shadow: 0px 5px 0px #cf6507;
}

.navButtons div ul li:nth-child(5) a:hover{
	background-color: #ff8a23;
}

.navButtons div ul li:nth-child(6) a{
	background-color: #f1c40f;
	box-shadow: 0px 5px 0px #d8aa00;
}

.navButtons div ul li:nth-child(6) a:hover{
	background-color: #ffd21e;
}

footer{
	width: 100%;
	height: 30vh;
	z-index: -1;
	position: fixed;
	overflow: hidden;
	bottom: -3vh;
}

footer div {
    width: 50%;
	height: 100%;
    text-align: left;
	float: left;
}

footer div:nth-child(2) {
	text-align: right;
}

footer div img {
    position: relative;
	width: 33.33333333333333%;
	height: inherit;
	margin-top: 3vh;
}

footer div:nth-child(1) img {
	left: -10vh;
}

footer div:nth-child(2) img {
	left: 10vh;
}	


@media only screen and (orientation:portrait){
    #warning-message{
		display: block; 	
	}
}
	
@media only screen and (orientation:landscape){
	#warning-message{
		display: none;
	}
}


@media all and (max-width: 1366px) {
	#page_title h1{
		font-size: 3vw !important;
	}
}


@media all and (max-width: 1280px) {
}


@media all and (max-width: 1024px) {
	.navButtons div ul li a{
		padding: 1vh 3vh 1vh 3vh !important;
	}

}