.pagination {
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 15px;
  text-align: center;
}
.pagination__dot {
  position: relative;
  width: 10px;
  height: 10px;
  border: 2px solid rgb(100, 100, 100);
  border-radius: 100px;
  background: rgb(100, 100, 100);
  display: inline-block;
  cursor: pointer;
  margin: 0 4px;
  opacity: 0.5;
  -webkit-transition: .3s;
          transition: .3s;
}

.pagination a.selected .pagination__dot{
	opacity: 1;	
}

.selected .pagination__dot{
	transition: width 1s;
	border-color: white;
  	background: white;
	transform: scale(1.7,1.7);
}

.pagination__dot:hover {
  -webkit-transition: .3s;
          transition: .3s;
  border-color: white;
  background: white;
  opacity: 1;
  transform: scale(1.7,1.7);
}

.pagination__dot:hover:before {
  top: -48px;
  opacity: 1;
}
.pagination__dot:hover:after {
  top: -18px;
  opacity: 1;
}
.pagination__dot:before {
  position: absolute;
  top: -40px;
  left: -36px;
  background: white;
  width: 160px;
  font-family: "Montserrat";
  font-size: 14px;
  padding: 8px 0;
  border-radius: 3px;
  content: attr(data-tooltip);
  opacity: 0;
  -webkit-transition: .3s;
          transition: .3s;
}
.pagination__dot:after {
  position: absolute;
  width: 0;
  height: 0;
  top: -10px;
  left: -2px;
  border-top: 6px solid white;
  border-right: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  opacity: 0;
  -webkit-transition: .3s;
          transition: .3s;
}
