<div id="holder">
    <div class="{{ slide.align_title_in_image|yesno:"pageTitleFloat,pageTitleStandard" }} {{ slide.center|yesno:"pageTitleCenter," }}" id="page_title">
        <h1 id="headline">{{ slide.title }}</h1>
    </div>
    <div class="slider-content" id="slider">
    	<div class="sliderImgs">
        {% for image in slide.slideimage_set.all|slice:":1" %}
            <!-- Current Slide Image -->
            <img src="{{ image.image.url }}" alt="{{ image.description }}" />
        {% endfor %}
        </div>
    </div>

    <div id="buttons">
        {% include 'includes/buttons.html' %}
    </div>
</div>