<div id="holder">
    <div class="slider-content" id="slider">
        <div class="row container-fluid text-center trippleImgs">
            {% for image in slide.slideimage_set.all|slice:":3" %}
                <div class="col-xs-4">
                    <a href="{{ image.url }}" target="_blank">
                        <img class="img-responsive" src="{{ image.image.url }}" alt="{{ image.description }}" />
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>